# Ignore everything
/*

# Keep the .gitignore file itself
!.gitignore

# Keep the Vagrant config for the following dev environments
!node-20
!haskell

# Ignore the actual project files
*/projects

# Ignore the internal Vagrant files
**/.vagrant

# Other files to keep
!.directory
!README.md
